{% extends 'app/base_visitor.html' %}

{% block title %}Register{% endblock %}

{% block body %}

div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
				<div class="login-panel panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Please Sign In</h3>
					</div>
					<div class="panel-body">
						<form role="form" action="{% url 'app:login_view' %}" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<fieldset>
								{% include 'app/form_template.html' %}
								<div class="form-group">
									<button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
		</div>
	</div>
</div>

{% endblock %}